<h1 class="stylized">Home Decorations</h1>

<div class="container">
  <div class="col-2">
    <h3 class="sponsor">
      Sponsored by the
      <a href="https://www.westerhometeam.com/" target="wester">Wester Home Team</a>
    </h3>
    <p>
      Sign up here to join the Belle Creek holiday decoration contest and
      compete with your neighbors for who has the best decorated house in the
      community.
    </p><p>
      Sign up before the {{ signupCutoff | ordinalDate }} deadline and we will provide
      you with a sign telling your neighbors that you are participating. They
      can then vote for the best decorations until {{ voteCutoff | ordinalDate }}.
    </p>
  </div>
  <div class="col-1">
    <img class="wester_logo" src="/assets/images/wester_logo.jpg" />
  </div>
</div>
<form [formGroup]="houseForm" (ngOnSubmit)="submitSignupForm()">
  <div class="input-item group">
    <input required type="text" formControlName="firstName" />
    <span class="highlight"></span>
    <span class="bar"></span>
    <label id="first-name">First Name</label>
  </div>

  <div class="input-item group">
    <input required type="text" formControlName="lastName" />
    <span class="highlight"></span>
    <span class="bar"></span>
    <label id="last-name">Last Name</label>
  </div>

  <div class="input-item group">
    <input required type="text" formControlName="houseAddress" />
    <span class="highlight"></span>
    <span class="bar"></span>
    <label id="street-address">Street Address</label>
  </div>

  <div class="input-item group">
    <input required type="email" formControlName="emailAddress" />
    <span class="highlight"></span>
    <span class="bar"></span>
    <label id="email-address">Email Address</label>
  </div>

  <div class="input-item group">
    <input required type="tel" formControlName="phoneNumber" />
    <span class="highlight"></span>
    <span class="bar"></span>
    <label id="phone-number">Phone Number</label>
  </div>

  <div>
    <button
      class="btn btn-submit"
      [disabled]="houseForm.invalid || houseForm.pristine"
      (click)="submitSignupForm()"
      type="button"
    >
      Sign Up
    </button>
  </div>
</form>
