<label class="file-upload" for="file" [class.error]="error || errorSize">
  File: <input type="file" (change)="upload($event)" accept=".png,.jpg" />
</label>

<div *ngIf="errorSize" class="error-text">
  That image is too large, upload size is restricted to 10MB.
</div>

<div *ngIf="error" class="error-text">
  There was a problem uploading your image. This can happen for many reasons but
  the most common is that you don't have access to upload or the file was over
  10MB.
</div>

<div *ngIf="loading">
  <bc-loading [progress]="uploadPercent$"></bc-loading>
</div>

<div *ngIf="house">
  <img class="house-image" [src]="house.imagePaths[0]" />
</div>
