<h1 class="stylized">House Decoration Contest</h1>
<p>
  Help us figure out which decorated houses are the best. Below you will find several addresses and 
  their registration number. These houses will have signs with this number on it. Vote for the house
  decorations you like the most by simply clicking on the address. You can only vote once, clicking
  a new address will change your vote, but do share with your friends!
</p>
<div class="entries">
  <bc-house-entry *ngFor="let house of houses" [house]="house" (select)="onHouseSelected($event)">
  </bc-house-entry>
</div>
<div class="return-home">
  <a routerLink="/">Back Home</a>
</div>

