<h1 class="stylized">House Decoration Contest</h1>
<p>
  Help us figure out which decorated houses are the best. Below you will find several addresses and 
  their registration number. These houses will have signs with this number on it. Vote for the house
  decorations you like the most by clicking the button that says "Vote for Me!". You can only vote once,
  clicking a new house will change your vote, but do share with your friends!
</p><p>
  If there are photos of the house, a series of thumbnails will show, clicking these will open a closer
  look. Have fun checking out all of the participants this year.
</p>
<div class="entries">
  <bc-house-entry *ngFor="let entry of entries; let idx = index"
                  [idx]="idx"
                  [house]="entry"
                  (select)="voteForEntry($event)">
  </bc-house-entry>
</div>
