<div class="container">
  <h1 class="stylized">House Decoration Contest</h1>
  <div class="wester_logo">
    <img src="/assets/images/wester_logo.jpg" />
  </div>
  <div class="intro-text">
    <h3 class="sponsor">
      Sponsored by the
      <a href="https://www.westerhometeam.com/" target="wester"
        >Wester Home Team</a
      >
    </h3>
    <p>
      Welcome to the Belle Creek House Decorating voting page. Voting is
      designed to be for people who live in and around the Belle Creek
      Community. Vote for a house by clicking the button that says, "Vote for
      Me!". You can only vote once, clicking on a new house will change your
      vote. Drive around the community and see the lights in person or click on
      the picture and you will see all their decorations.
    </p>
    <p>
      Happy voting... and thank you for participating in the fun!
    </p>
  </div>
</div>
<div class="clearfix"></div>
<div class="entries">
  <bc-house-entry
    *ngFor="let entry of entries; let idx = index"
    [idx]="idx"
    [house]="entry"
    (select)="voteForEntry($event)"
  >
  </bc-house-entry>
</div>
