<h1 class="cursive title">
  <span class="light-red">Community</span><br>
  <span class="dark-green">Ugly Christmas Sweater</span><br>
  <span class="light-red">Party</span>
</h1> 
<div class="signups">
  <div class="clickable dark-green">
    <a routerLink="/house/form">Sign Up to participate in the house decoration competition!</a>
  </div>
  <div class="clickable dark-green">
    <a routerLink="/house/vote">Vote for the best decorated house!</a>
  </div>
</div>
<div class="event-wrapper float right">
  <div class="event-summary">
    <div class="gold cursive">Fun for Everyone</div>
    <div class="light-red">•&nbsp;House Decoration Competition&nbsp;•</div>
    <div class="dark-green">•&nbsp;Raffle &amp; Prizes&nbsp;•</div>
    <div class="light-red">•&nbsp;Horse Drawn Carriage Rides&nbsp;•</div>
    <div class="dark-green">•&nbsp;Photo Booth&nbsp;•</div>
    <div class="light-red">•&nbsp;Ugly Sweater Contest&nbsp;•</div>
    <div class="dark-green">•&nbsp;Music &amp; Dancing&nbsp;•</div>
    <div class="light-red">•&nbsp;Roasting Marshmallows&nbsp;•</div>
    <div class="dark-green">•&nbsp;Hot Chocolate&nbsp;•</div>
    <div class="light-red">•&nbsp;Visit with Santa&nbsp;•</div>
    <div class="dark-red">5:00pm - 7:00pm</div>
  </div>
  <div class="event-details">
    <p class="light-green">Food will be served but we want to know who makes the best holiday pies.</p>
    <p class="gold">We’ll also be collecting toys for donation throughout the month of Decemeber.</p>
  </div>
</div>
<div class="float left tree">
  <img src="/assets/images/tree.svg" alt="">
</div>
<div class="clearfix"></div>
<a class="gold admin-link" [routerLink]="['/admin']">admin</a>