<h1 class="title-image centered-image">
  <span class="title-text">Belle Creek</span>
  <img src="/assets/images/Ugly-Sweater.svg" alt="Belle Creek Community Ugly Christmas Sweater Party">
  <span class="title-text">Community Party</span>
</h1>
<div class="centered-image divider">
  <img src="/assets/images/Snow-Divider.svg" alt="Snow Divider" aria-hidden="true">
</div>

<div class="event-details-wrapper">
  <div>Saturday December 14, 2019</div>
  <div>5:00pm - 8:00pm</div>
  <div>at the Belle Creek Community Center</div>
</div>

<div class="centered-image divider">
  <img src="/assets/images/Tree-Divider.svg" alt="Tree Divider" aria-hidden="true">
</div>

<div class="signups">
  <div class="clickable dark-green decorate" *ngIf="isHousesLive()">
    <a routerLink="/house/form">Sign up to participate in the house decoration competition!</a>
  </div>
  <div class="clickable dark-green vote" *ngIf="isVotingLive()">
    <a routerLink="/house/vote">Vote for the best decorated house!</a>
  </div>
  <div class="clickable dark-green cookoff">
    <a href="https://www.signupgenius.com/go/9040f4caaaf22aafe3-belle" target="signup">Sign up for Chili Cook Off!</a>
  </div>
</div>

<div class="event-wrapper">
  <div class="event-summary">
    <div class="gold cursive">Fun for Everyone</div>
    <div class="light-red">•&nbsp;House Decoration Competition&nbsp;•</div>
    <div class="dark-green">•&nbsp;Raffle &amp; Prizes&nbsp;•</div>
    <div class="light-red">•&nbsp;Horse Drawn Carriage Rides&nbsp;•</div>
    <div class="dark-green">•&nbsp;Ugly Sweater Contest&nbsp;•</div>
    <div class="light-red">•&nbsp;Music &amp; Dancing&nbsp;•</div>
    <div class="dark-green">•&nbsp;Hot Chocolate&nbsp;•</div>
    <div class="light-red">•&nbsp;Visit with Santa&nbsp;•</div>
    <div class="dark-red">5:00pm - 8:00pm</div>
  </div>
  <div class="event-details">
    <p class="light-green">Bring a chili to share and maybe win our chili cookoff!</p>
  </div>
</div>
