:host {
  display: block;

  h1.title-image {
    margin-top: -30px;
  }

  h1.title-text {
    font-size: 3em;
    color: #698037;
    text-align: center;
  }

  .event-details-wrapper {
    text-align: center;
  }

  .divider {
    margin: 30px;
  }

  .dark-red {
    color: #AC161B
  }

  .light-red {
    color: #DA2128;
  }

  .dark-green {
    color: #698037;
  }

  .light-green {
    color: #8DC63F;
  }

  .gold {
    color: #DA9E31;
  }

  a {
    &:hover {
      opacity: 0.85;
    }

    &:visited,
    &:active,
    &:focus {
      color: inherit;
    }

    color: inherit;
  }

  .admin-link {
    position: absolute;
    margin-top: 220px;
    margin-left: -30px;
  }

  .signups {
    text-align: center;
    margin: 30px;
  }

  .event-wrapper {
    text-align: center;
  }

  .event-summary {
    font-size: 1.8em;
    padding: 15px;
    text-align: center;
  }

  .event-details {
    font-size: 1.6em;
    padding: 15px;
    text-align: center;
  }
}
