<bc-upload-button [error]="error || errorSize" (upload)="upload($event)">
  Upload New Image
</bc-upload-button>

<div *ngIf="errorSize" class="error-text">
  That image is too large, upload size is restricted to 10MB.
</div>

<div *ngIf="error" class="error-text">
  There was a problem uploading your image. This can happen for many reasons but
  the most common is that you don't have access to upload or the file was over
  10MB.
</div>

<div *ngIf="loading">
  <bc-loading [progress]="uploadPercent$"></bc-loading>
</div>

<bc-image-list *ngIf="house && house.imagePaths.length > 0"
               (deletePath)="delete($event)"
               [house]="house">
</bc-image-list>
