<a routerLink="/">Home</a>
<h1>Sock Drive</h1>
<p>This year the Belle Creek Metro District is working with Henderson Community Church to keep the winter warm for
  the homeless and struggling in and around our community. Even in a small neighborhood like ours, there are people
  in need and we want to do our part to help them get back on their feet; so we are collecting and distributing socks!
  At any time in the month of December, bring new socks to donate to the Family Center and we will get them to women
  and children in need. There will also be a table to collect socks, and to learn more, at the Community
  Ugly-Christmas-Sweater Party on December 15th, from 5 - 8 at the Family Center.</p>
<p>If we collect more socks than will be useful within our community, we will be giving them to the
  <a href="http://www.chumdenver.org/womens-homelessness-intiative" target="whi">Women's Homelessness Initiative</a>
  and the <a href="https://www.tennysoncenter.org/" target="tennysoncenter">Tennyson Center</a> for Children to make
  sure each and every sock we collect will do the most good it can.</p>
