<form [formGroup]="changeForm" (ngOnSubmit)="changePassword()">
  <div class="input-item group">
    <input required="required" type="password" formControlName="oldPassword" />
    <span class="highlight"></span>
    <span class="bar"></span>
    <label id="last-name">Current Password</label>
  </div>

  <div class="input-item group">
    <input required="required" type="password" formControlName="newPassword1" />
    <span class="highlight"></span>
    <span class="bar"></span>
    <label id="last-name">New Password</label>
  </div>

  <div class="input-item group">
    <input required="required" type="password" formControlName="newPassword1" />
    <span class="highlight"></span>
    <span class="bar"></span>
    <label id="last-name">Confirm New Password</label>
  </div>

  <div class="button-row">
    <button class="btn btn-submit"
            (click)="changePassword()"
            type="button">
      Change Password
    </button>
  </div>
</form>
