<div class="contacts">
  <div class="summary">
    <div class="house-totals">There are currently {{ totalHouses }} decorated houses signed up.</div>
  </div>

  <table>
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts; let idx = index;" class="contact-card">
        <td class="contact-name" data-label="Name">{{ contact.firstName }} {{ contact.lastName }}</td>
        <td class="contact-email" data-label="Email">{{ contact.emailAddress }}</td>
        <td class="contact-address" data-label="Address">{{ contact.houseAddress }}</td>
      </tr>
    </tbody>
  </table>
</div>
