:host {
  display: block;
  padding: 20px;

  .sub-nav {
    margin-right: 1em;
  }

  a {
    color: #DA2128;

    &:hover {
      color: lighten(#DA2128, 10%);
    }
  }

  a.active {
    color: darken(#DA2128, 20%);
    cursor: default;

    &:hover {
      color: darken(#DA2128, 20%);
    }
  }
}
