<a routerLink="/">Home</a>
<h1 class="cursive">User Admin</h1>
<div class="admin-nav">
  <a routerLink="houses" routerLinkActive="active" class="left-sub-nav">Houses</a>
  <a routerLink="contacts" routerLinkActive="active" class="left-sub-nav">Contacts</a>
  <a routerLink="votes" routerLinkActive="active" class="left-sub-nav">Votes</a>
  <a routerLink="password" routerLinkActive="active" class="left-sub-nav">Change Password</a>

  <a class="logout clickable right-sub-nav" (click)="logout()">Logout</a>
</div>
<router-outlet></router-outlet>
