/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'LibelSuit';
  src: url('/assets/fonts/libel-suit.woff2') format('woff2'),
  url('/assets/fonts/libel-suit.woff') format('woff'),
  url('/assets/fonts/libel-suit.ttf') format('truetype');
}

@font-face {
  font-family: 'Journey';
  src: url('/assets/fonts/journey-to-thailand.woff2') format('woff2'),
  url('/assets/fonts/journey-to-thailand.woff') format('woff'),
  url('/assets/fonts/journey-to-thailand.ttf') format('truetype');
}

body {
  font-size: 18px;
  font-size: 2.5vw;
  margin: 0;
  color: #698037;
  padding: 0 30px 30px 30px;
  font-family: "LibelSuit", Arial, Helvetica, sans-serif;
  background-color: #E9D8AD;
  background-image: url('/assets/images/snowflakes.svg');
  background-position: 100%;
}

.hero {
  overflow: hidden;
  margin-bottom: 30px;

  img {
    width: 65%;
  }

  .text-wrapper {
    margin-top: 30px;
    font-size: 1.4em;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 26px;
  }
}

.float {
  overflow: hidden;
}

.float.clear {
  clear: both;
}

.float.left {
  float: left;
}

.float.right {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
