/* You can add global styles to this file, and also import other style files */
// @font-face {
//   font-family: 'LibelSuit';
//   src: url('/assets/fonts/libel-suit.woff2') format('woff2'),
//   url('/assets/fonts/libel-suit.woff') format('woff'),
//   url('/assets/fonts/libel-suit.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'Journey';
//   src: url('/assets/fonts/journey-to-thailand.woff2') format('woff2'),
//   url('/assets/fonts/journey-to-thailand.woff') format('woff'),
//   url('/assets/fonts/journey-to-thailand.ttf') format('truetype');
// }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
  font-display: swap;
}

@import './styles/collapsible-table.less';

body {
  font-size: 18px;
  font-size: 2.5vw;
  margin: 0;
  color: #000;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background-color: #fff;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 26px;
  }
}

.centered-image {
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.clickable {
  cursor: pointer;
}

.float {
  overflow: hidden;
}

.float.clear {
  clear: both;
}

.float.left {
  float: left;
}

.float.right {
  float: right;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

@bg-color: #ac161b;
@hl-color: #698037;
@error-color: #ff0000;
@muted-color: mix(white, @bg-color, 70%);
@trans-time: 300ms;
@width: 360px;

a {
  color: @bg-color;

  &:hover {
    color: lighten(@bg-color, 10%);
  }
}

a.active {
  color: darken(@bg-color, 20%);
  cursor: default;

  &:hover {
    color: darken(@bg-color, 20%);
  }
}

/* ++++++++++++++++++++++++++++ FORMS ++++++++++++++++++++++++ */
*,
:before,
:after {
  box-sizing: border-box;
}

form {
  width: @width;
  margin: 45px auto;

  .group {
    position: relative;
    margin: 45px 0;
  }

  textarea {
    resize: none;
  }

  input,
  textarea {
    background: none;
    color: @hl-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: @width;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid @hl-color;

    &:focus {
      outline: none;
    }

    &:focus ~ label,
    &:valid ~ label {
      top: -14px;
      font-size: 12px;
      color: @hl-color;
    }

    &:focus ~ .bar:before {
      width: @width;
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  label {
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: @trans-time ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: @width;

    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: @hl-color;
      transition: @trans-time ease all;
      left: 0%;
    }
  }
}

.btn {
  background: #fff;
  color: mix(black, @hl-color, 25%);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    color: mix(black, @hl-color, 30%);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
  }

  &.btn-link {
    background: @hl-color;
    color: mix(white, @hl-color, 80%);

    &:hover {
      background: darken(@hl-color, 5%);
      color: mix(white, @hl-color, 85%);
    }
  }

  &.btn-submit {
    background: @hl-color;
    color: mix(white, @hl-color, 70%);

    &:hover {
      background: darken(@hl-color, 5%);
      color: mix(white, @hl-color, 85%);
    }

    &:disabled,
    &:disabled:hover {
      background: mix(black, @hl-color, 55%);
      box-shadow: none;
      cursor: not-allowed;
    }
  }

  &.btn-cancel {
    background: #eee;

    &:hover {
      background: darken(#eee, 5%);
      color: mix(black, @muted-color, 30%);
    }
  }
}

@media screen and (max-width: 420px) {
  form {
    width: 100%;

    input,
    textarea {
      width: 100%;
    }
  }
}

.btn-box {
  text-align: center;
  margin: 50px 0;
}

table {
  margin-top: 15px;
}
