<div class="house-entry-container" [class.selected]="house.selected">
  <button class="btn btn-primary float right" (click)="select.emit(house)">Vote for me!</button>
  <div class="house-address">{{ house.number }}.) {{ house.houseAddress }}</div>
  <div class="house-photo">
    <ks-modal-gallery *ngIf="house"
                      [id]="idx"
                      [modalImages]="buildImages(house.imagePaths)"
                      [slideConfig]="{ infinite: false, sidePreviews: { show: false } }"
                      [buttonsConfig]="{ visible: true, strategy: 1 }"
                      [previewConfig]="{ visible: false }">
    </ks-modal-gallery>
  </div>
</div>
